<h1>Varselbrev for {{mottaker.fullName}}</h1>

<p>
  Du mottar dette varselbrevet fordi du er i fare for å ikke kunne få karakter i {{varsel.fag}}
</p>

<ul>
  {{#each varsel.aarsaker}}
    <li>{{this}}</li>
  {{/each}}
</ul>